@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap');

.feedbackContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    margin-top: 10%;
}

.feedbackContainer {
    border: 2px solid #D6D6D6;
    background-color: #1E1E1E;
    border-radius: 20px; 
    box-sizing: border-box;
    margin-bottom: 80px;
    width: 100%; 
    overflow: hidden;
}

.feedbackInput {
    font-family: 'Poppins';
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(241, 236, 230, 1);
    text-align: left;
    border: none;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 100px;
    background-color: transparent;
    border-radius: 18px; 
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
}

.feedbackInput:focus {
    outline: none;
}

.rateText {
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
    font-family: 'Poppins';
    line-height: 40px;
    margin-bottom: 0;
}

.shareText {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    text-align: left;
    font-family: 'Inter';
    margin-right: 100px;
}

.skipButton {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    color: rgba(241, 236, 230, 1);
    border: none;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .feedbackInput {
        font-size: 15px;
    }

    .rateText {
        font-size: 37px;
    }

    .shareText {
        font-size: 17px;
    }

    .skipButton {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .feedbackInput {
        font-size: 14px;
    }

    .rateText {
        font-size: 34px;
    }

    .shareText {
        font-size: 15px;
    }

    .skipButton {
        font-size: 14px;
    }
}