@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap');

.scrollContent {
    padding: 30px 20px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-right: 10px;
}

.userName {
    font-size: 32px;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: left;
}

.scanQRText {
    font-size: 16px;
    color: #DBDBDB;
    font-family: 'Inter';
    text-align: left;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rewardsEarnedText {
    font-family: 'Poppins';
    font-size: 32px;
    color: #FFE600;
    text-align: left;
    margin: 0;
}

.rewardArea {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.rewardsContainer {
    width: 42%;
    background-color: #1E1E1E;
    padding-left: 15px;
    padding-right: 5px;
    border-radius: 10px;
    border: 1px solid #FAB81E;
    display: flex;
    align-items: center;
}

.badgeIcon {
    width: 38px;
    height: 38px;
}

.prizeIcon {
    width: 45px;
    height: 45px;
}

.pointsContainer {
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.getPointsActivity {
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Poppins';
    margin: 0; 
    padding: 0;
    text-align: left;
}

.totalPointActivity {
    font-size: 16px;
    color: #ABABAB;
    font-family: 'Poppins';
    text-align: left;
    margin: 0; 
    padding: 0;
}

.activitiesText {
    font-size: 30px;
    color: #FFE600;
    font-family: 'Poppins';
    text-align: left;
    margin: 24px 0;
}
/*
.activityArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.activityContainer {
    //width: 48%;
    //height: auto;
    //height: calc(100% - 10px);
    background-color: #1E1E1E;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #FAB81E;
    //margin-bottom: 10px;
    box-sizing: border-box;
}
*/

.activityArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
}

.activityContainer {
    background-color: #1E1E1E;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #FAB81E;
    box-sizing: border-box;
}

.activityColumn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.activityIconBackground {
    background: linear-gradient(41.78deg, #FF8D00 2.95%, #FFDE1A 170.14%);
    border-radius: 20%; 
    padding: 14px; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.activityIcons {
    width: 28px;
}
.activityIconsMystery {
    width: 16px;
    padding: 1px 6px;
}

.iconsContainer {
    display: flex;
    flex-direction: row;
}

.arrowIcon {
    margin-left: auto;
}

.activityNameText {
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Poppins';
    text-align: left;
}

.pointText {
    margin: 0;
    font-size: 15px;
    color: #ABABAB;
    font-family: 'Poppins';
    text-align: left;
}

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #393939;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 70%;
}

.modalTitle {
    font-size: 24px;
    color: white;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

.modalMessage {
    font-size: 18px;
    color: #F1ECE6;
    margin: 0;
    padding: 0;
}

.modalButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .userName {
        font-size: 32px;
    }

    .scanQRText {
        font-size: 15px;
    }

    .rewardsEarnedText {
        font-size: 28px;
    }

    .badgeIcon {
        width: 36px;
        height: 36px;
    }
    
    .prizeIcon {
        width: 43px;
        height: 43px;
    }

    .pointsContainer {
        margin-left: 12px;
    }

    .getPointsActivity {
        font-size: 16px;
    }

    .totalPointActivity {
        font-size: 14px;
    }

    .activitiesText {
        font-size: 28px;
    }

    .activityIconBackground {
        padding: 10px;
    }

    .activityIcons {
        width: 24px;
    }

    .activityNameText {
        font-size: 18px;
    }

    .pointText {
        font-size: 13px;
    }

    .activityIconsMystery {
        width: 14px;
        padding: 1px 4px;
    }

    .modalContent {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .userName {
        font-size: 32px;
    }

    .scanQRText {
        font-size: 15px;
    }

    .rewardsEarnedText {
        font-size: 24px;
    }

    .badgeIcon {
        width: 34px;
        height: 34px;
    }
    
    .prizeIcon {
        width: 40px;
        height: 40px;
    }

    .pointsContainer {
        margin-left: 12px;
    }
    .getPointsActivity {
        font-size: 16px;
    }

    .totalPointActivity {
        font-size: 14px;
    }

    .activitiesText {
        font-size: 26px;
        margin: 20px 0;
    }

    .activityIconBackground {
        padding: 8px;
    }
    .activityNameText {
        font-size: 18px;
    }
    .pointText {
        font-size: 14px;

    }
    .activityIcons {
        width: 20px;
    }

    .activityIconsMystery {
        width: 12px;
        padding: 1px 2px;
    }

}