.subContainer {
    margin-top: 50px;
}

.engageathonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.superbowlLogo {
    width: 230px;
    height: auto;
}
.eaLogoBig {
    width: 70px;
    height: auto;
}

.engegeathon {
    width: 250px;
    height: auto;
}

