.main-button {
  width: 100%;
  background: linear-gradient(90deg, #FF8D00 48.5%, #FFDE1A 100%);
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
  }
}
.main-button .button-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
  
@media (max-width: 768px) {
  .main-button .button-text {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: 480px) {
  .main-button .button-text {
    font-size: 16px;
    line-height: 18px;
  }
}