.circular-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}

.circular-progress svg {
    transform: rotate(-90deg);
    overflow: visible;
}

.circle-bg {
    fill: #FFF;
    stroke: #E9E9E9; 
}

.circle-progress {
    fill: none;
    stroke: #FFC542;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.3s;
}

.circle-text {
    font-size: 24px;
    fill: #000;
    text-anchor: middle;
    font-family: Poppins;
    font-weight: 600;
    text-anchor: middle;
    dominant-baseline: middle;
}
