@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;700&display=swap');

.loading-text {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.icon-title {
    margin-top: -50px;
}

.homePost {
    margin-top: 25px;
    background-color: #F5F4F4;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
    border: 3px solid #2BAB47;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.homePost.inactive {
    position: relative;
    border: none;
}

.homePost.inactive::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    background: rgba(28, 27, 27, 0.4); 
    z-index: 1;
}

.organizationIcon {
    border: 2px solid #2BAB47; 
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden;
}

.organizationIcon img {
    max-width: 100%; 
    max-height: 100%; 
    display: block; 
    object-fit: cover;
}

.postHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    height: auto; 
}

.userNameText {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.dotsButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: 10px;
}

.postTags {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
    margin-bottom: 10px;
    gap: 10px;

}

.postImage {
    width: 100%;
    height: auto; 
    object-fit: cover; 
    border-radius: 19px;
    margin-bottom: 10px;
}

.postDescription {
    text-align: left;
}

.eventTitleText {
    font-family: 'Poppins';
    line-height: 24px;
    margin: 0;
}
.descriptionText {
    font-family: 'Inter';
    font-weight: 400;
    line-height: 18px;
    margin: 0;
}

.homeScreenAttendButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    
}