@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap');

.sign-up-screen-container {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    background-color: #1E1E1E; 
    background-image: url("../../assets/backgroundImage.png"); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.form-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    margin-top: auto;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 40px 25px;
    background-color: #2e2e2e;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.begin-text {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 34px;
    text-align: left;
    line-height: 31px;
    margin: 0;
}

.enter-text {
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 16px;
    text-align: left;
    margin-bottom: 40px;
}

.user-input-container {
    display: flex;
    align-items: center;
    border: 1px solid rgba(214, 214, 214, 0.2);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
    padding: 10px 15px;
}

.user-input {
    flex: 1;
    padding: 10px;
    font-size: 18px;
    color: #ABABAB;
    background: transparent;
    border: none;
}

.continue-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .sign-up-container {
        margin-top: 40px;
        margin-left: 15px;
        margin-bottom: 15px;
        margin-right: 15px;
        padding: 30px 20px;
    }

    .begin-text {
        font-size: 28px;
        line-height: 26px;
    }

    .enter-text {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .user-input {
        font-size: 16px;
        padding: 8px;
    }

    .continue-button-container {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .sign-up-container {
        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 20px 15px;
    }

    .begin-text {
        font-size: 24px;
        line-height: 22px;
    }

    .enter-text {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .user-input {
        font-size: 14px;
        padding: 6px;
    }

    .continue-button-container {
        margin-top: 15px;
    }
}